params {
    // required files
    gut_mapping        = "$projectDir/data/known_and_found_gut_genomes.tsv"

    // names for generated intermidiate files 
    input_accessions   = 'input_accessions.tsv'
    catalogue_metadata = 'all_catalog_metadata.tsv'

    // user input args
    portion_size       = 10
    previous_table     = null
    processed_acc      = null
    external_input     = null
    output_path        = "$PWD"

}

profiles {
    codon_slurm { 
        includeConfig 'conf/codon_slurm.config' 
    }
    local {
        docker {
            enabled = true
            autoMounts = true
            registry = 'quay.io'
            userEmulation = true
            runOptions = "--platform linux/x86_64"
        }
        executor {
            name = "local"
            cpus = 2
            memory = '1 GB'
        }
    }
} 

includeConfig 'conf/modules.config'