params {
    // required files
    gut_mapping           = "$projectDir/data/known_and_found_gut_genomes.tsv"

    // names for generated intermidiate files 
    input_accessions      = 'input_accessions.tsv'
    catalogue_metadata    = 'all_catalog_metadata.tsv'

    // user input args
    batch_size            = 250
    previous_table        = null
    processed_acc         = null
    external_input        = null
    external_metadata     = null
    output_path           = "$PWD/results"

}

profiles {
    codon_slurm { 
        includeConfig 'conf/codon_slurm.config' 
    }
    local {
        includeConfig 'conf/local.config' 
    }
} 

includeConfig 'conf/modules.config'