docker {
    enabled       = true
    registry      = 'quay.io'
    runOptions    = "--platform linux/arm64"
}

executor {
    name          = "local"
    cpus          = 2
    memory        = '1 GB'
}

process {
            resourceLimits = [
                cpus: 2,
                memory: 1.GB,
                time: 1.h
            ]
        }
