process {

    withName: FINALISE_OUTPUT {
        publishDir = [
            path: { "${params.output_path}" },
            mode: 'copy'
        ]
    }
    
    withName: FIND_PRIMARY_ASSEMBLY {
        cpus   = { 1                    }
        memory = { 15.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }
}