process {

    withName: FORMAT_OUTPUT_RESULTS {
        publishDir = [
            path: { "${params.output_path}" },
            mode: 'copy'
        ]
    }

    withName: VERIFY_CONTIG_HASHES_MATCH {
        cpus   = { 1                    }
        memory = { 15.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }
}
