process {

    withName: FORMAT_OUTPUT_RESULTS {
        publishDir = [
            path: { "${params.output_path}" },
            mode: 'copy'
        ]
    }

    withName: MAP_GENOMES_TO_ASSEMBLIES {
        publishDir = [
            path: { "${params.output_path}/ena_related_errors" },
            mode: 'copy',
            pattern: '*.err',
            saveAs: { filename ->
                def file = new File("${task.workDir}/${filename}")
                return file.exists() && file.size() > 0 ? filename : null
            }
        ]
    }

    withName: VERIFY_CONTIG_HASHES_MATCH {
        time   = { 2.h  * task.attempt  }
        publishDir = [
            path: { "${params.output_path}/ena_related_errors" },
            mode: 'copy',
            pattern: '*.err',
            saveAs: { filename ->
                def file = new File("${task.workDir}/${filename}")
                return file.exists() && file.size() > 0 ? filename : null
            }
        ]
    }
}
