profiles {
    test_local {
        params {
            cleanup = false
            debug   = true
        }
        executor {
            name = "local"
        }
        process {
            resourceLimits = [
                cpus: 2,
                memory: 1.GB,
                time: 1.h,
            ]
        }
    }
}
